<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/App_Themes/SiteLayout.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
</head>
<body>
    <div id="header">
        @Html.Partial("HeaderView")
    </div>

    <div id="body">
        @RenderBody()
    </div>

    <div id="footer">
        @Html.Partial("FooterView")
    </div>
    <script>
        $(window).load(function () {
            $("#footer").position({ my: "bottom", at: "bottom", of: document, collision: "none" });
        });
    </script>
</body>

</html>