@{
    ViewBag.Title = "FooterView";
}

<link href="~/App_Themes/SiteLayout_Footer.css" rel="stylesheet" type="text/css" />

<div id="footer-area">
    <div id="footer-content-area">
        Footer View.
    </div>
</div>
<script>
    $("#footer-content-area").position({ my: "center top", at: "center top", of: "#footer-area" });
</script>