@{
    ViewBag.Title = "HeaderView";
    
}

<link href="@Url.Content("~/App_Themes/SiteLayout_Header.css")" rel="stylesheet" type="text/css" />


<div id="header-area">
    <div id="header-content-area">
        <img id="header-logo-image" src="~/Images/PAWACP Logo2.jpg" />

        <div id="header-navbar-area">
            <a href="~/" class="header-navbar-links" id="header-navbar-home-link">
                <span id="header-navbar-home" class="navbar">
                    Album Home
                </span>
            </a>

            <a href="~/Image/UploadImage" class="header-navbar-links" id="header-navbar-upload-link">
                <span id="header-navbar-upload" class="navbar">
                    Upload Image
                </span>
            </a>
            <a href="~/" class="header-navbar-links" id="header-navbar-user-link">
                <span id="header-navbar-user" class="navbar">
                    User Details
                </span>
            </a>

            <a href="#" class="header-navbar-links" id="header-navbar-options-link">
                <span id="header-navbar-options" class="navbar">
                    Options
                </span>
            </a>
        </div>
    </div>

    <script>
        // Position navbar elements from right to left
        $(window).ready(function () {
            $("#header-navbar-area").position({ my: "right bottom", at: "right bottom", of: "#header-content-area", collision: "none" });
            $("#header-navbar-options-link").position({ my: "right bottom", at: "right bottom", of: "#header-navbar-area", collision: "none" });
            $("#header-navbar-user-link").position({ my: "right bottom", at: "left bottom", of: "#header-navbar-options-link", collision: "none" });
            $("#header-navbar-upload-link").position({ my: "right bottom", at: "left bottom", of: "#header-navbar-user-link", collision: "none" });
            $("#header-navbar-home-link").position({ my: "right bottom", at: "left bottom", of: "#header-navbar-upload-link", collision: "none" });
        });
    </script>
</div>