@model PAWA.Models.File

@{
    ViewBag.Title = "DisplayImage";
}

<link rel="stylesheet" href="~/App_Themes/DisplayImage.css" type="text/css" />

@using (Html.BeginForm("DisplayImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div id="body-area">
    <div id="body-content-image-area">
        <img src="../../Images/User/@Model.Filename" id="body-content-image"/>
        
    </div>
    <div id="body-content-description-area">
        Description:
        <div id="body-content-description">
            @Model.Description
        </div>
    </div>
    <div id="body-content-tags-area">
        Tags:
        <div id="body-content-tags">
            @Html.Raw(ViewBag.Tags)
        </div>
    </div>
    <div id="body-content-button-area">
        <input type="hidden" name="fileName" value="@Model.Filename" />
        <input type="submit" name="editImage" value="Edit Image" id="body-content-button-edit" />
        <input type="submit" name="deleteImage" value ="Delete Image" id="body-content-button-delete" />
    </div>
   <div id="shareBacker">
       <div id="panel-header">Share this image on</div>
       <div id="inner-panel">

     <div id="facebookButton">
        <input id="ShareFacebook" type="submit" name="ShareToFacebook" onclick="" value="login" />
        </div>
        <div id="twitterButton">
        </div>
           </div>
       </div>
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='deleteImage']").click(function () {
            return confirm('This image will be permanently deleted. Do you wish to continue?');
        });
    });
</script>

<script>
    // position after image loads
    $(window).load(function () {
        $("#body-content-button-edit").position({ my: "left top", at: "left top", of: "#body-content-button-area", collision: "none" });
        $("#body-content-button-delete").position({ my: "right top", at: "right top", of: "#body-content-button-area", collision: "none" });
        $("#shareBacker").position({ my: "right top", at: "right+210 top", of: "#body-content-description", collision: "none" });
      
    });
</script>
<script>
    function test()
    {

    }
</script>
