@{
    ViewBag.Title = "CreateUser";
}

@using(Html.BeginForm("CreateUser", "Account", FormMethod.Post))
{
    <div>
        Username: <input type="text" name="username" /><br />
        Password: <input type="text" name="password" /><br />
        Email: <input type="text" name="email" /><br />
        Country: <input type="text" name="country" /><br />
        D.O.B: <input type="text" name="dateofbirth" /><br />
        Gender: <input type="text" name="gender" /><br />
        <input type="submit" name="submit" value="Submit" />
    </div>
}
