@{
    ViewBag.Title = "Album";
}

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />
<script src="~/Scripts/GridOptionHandle.js" type="text/javascript"></script>

<div id="body-area">
    <div id="body-content-area">
        @using (Html.BeginForm("Album", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>
            
            <input id="optionSubmit" type="button" name="dropDownSubmit" value="Go" />
<<<<<<< HEAD
            <div id="moveButton"></div>
=======
>>>>>>> 074d29d3c79e575e4bc35a77964eaaf88b425fec
            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" disabled />
            PAWA.Classes.AlbumGrid ag = new PAWA.Classes.AlbumGrid(new PAWA.DAL.PAWAContext());
            @Html.Raw(ag.CreateTable((int?)ViewBag.FolderID));
            
            <input type="submit" name="NextPae" value="Next Page" id="body-content-button-next" disabled /> 
            <input type="submit" name="GoToTop" value="Go To Top" id="body-content-button-top" disabled />
        }

    </div>
</div>
<div id="resultPopup"></div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#resultPopup").dialog({ autoOpen: false });
        //window.alert("running");
<<<<<<< HEAD
        $("form:first").submit(function (data) {
            this.submitAllow = false;
<<<<<<< HEAD
        $("#optionSubmit").click(function (data) {
=======
=======
        $("#optionSubmit").click(function (data) {
>>>>>>> Commit half finished
>>>>>>> 074d29d3c79e575e4bc35a77964eaaf88b425fec
            if ($('#DropDownList').val() == "Delete") {

                //check if anything was selected
                if (!hasChecked()) {
                    //Nothing was so show a message.
                    alert("You have not selected any images to delete.");
                    return;
                } else {
                    if (window.confirm('These images will be permanently deleted. Do you wish to continue?')) {
<<<<<<< HEAD
                        $('#DropDownList').val() = "Delete"
=======
>>>>>>> 074d29d3c79e575e4bc35a77964eaaf88b425fec
                        $("form:first").submit();
                    }
                }
            }
            if ($("#DropDownList").val() == "Move") {
                
                if (hasChecked()) {
                    window.alert("boo");
                    var albumPost = $post("../../Home/GetAlbumList");

                    // Put the results in a div
                    /*albumPost.done(function (data) {
                        var result = $(data);
                        $("#resultPopup").empty().append(content);
                        $("#resultPopup").dialog("open");

                    });
                    //*/
                    $("#resultPopup").dialog("open");
                    window.alert("after post")
                }
            }
            return this.some_flag_variable;
        });
    });
</script>

<script type="text/javascript">
    function hasChecked() {
        window.alert("hasChecked");
        //Get input elements
        var inputs = $("input[type='checkbox']");
        //window.alert(printList());

        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If any are checked
            window.alert(inputs[i].checked);
            if (inputs[i].checked) {
                return true;
            }
        }
        //Nothing was selected
        return false;
    };
</script>

<script>
    $("#body-content-button-create").position({ my: "right top", at: "right-4 top+2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-next").position({ my: "center bottom", at: "center bottom-2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-top").position({ my: "right bottom", at: "right-4 bottom-2", of: "#body-content-area", collision: "none" });
    $(".body-content-table-checkbox").each(function () {
        $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
    });
    $(".body-content-table-folder-text").each(function () {
        $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
    });
</script>
