@{
    ViewBag.Title = "Album";
}

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />

<div id="body-area">
    <div id="body-content-area">
        @using(Html.BeginForm("Album", "Home", FormMethod.Post))
        {
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>
            
            <input type="submit" name="Submit" value="Go" />
            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" disabled />
            
            PAWA.Classes.AlbumGrid ag = new PAWA.Classes.AlbumGrid(new PAWA.DAL.PAWAContext());
            @Html.Raw(ag.CreateTable((int?)ViewBag.FolderID));
            <input type="submit" name="NextPae" value="Next Page" id="body-content-button-next" disabled /> 
            <input type="submit" name="GoToTop" value="Go To Top" id="body-content-button-top" disabled />
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Delete") {

                //check if anything was selected
                if (!hasChecked()) {
                    //Nothing was so show a message.
                    alert("You have not selected any images to delete.");
                    return;
                }

                return confirm('These images will be permanently deleted. Do you wish to continue?');
            }
        });
    });
</script>

<script type="text/javascript">
    function hasChecked() {
        //Get input elements
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  

        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    //Then something was
                    return true;
                }
            }
        }
        //Nothing was selected
        return false;
    };
</script>

<script type="text/javascript">
    function countChecked() {
        //Get input elements
        var count = 0;
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  
        var ids = "";
        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    count--;
                    ids += i;
                }
            }
        }
        if (count == -1)
        { return ids; }
        else
        { return count; }
    };


    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Edit") {
                var count = countChecked();
                //check if anything was selected
                if (count == 0 || count <= -2) {
                    //Nothing was so show a message.
                    alert("You cannot perform Edit Selected on " + (-count) + " items.");
                    return;
                }
                else {
                    var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;
                    var re = "_folder";
                    var ipts = inputs[count].id;
                    if (ipts.indexOf(re) != -1) {
                        window.open("/Folder/EditFolder?FolderID=" + inputs[count].id.replace(re, ""));
                    }
                    else {
                        window.open("/Image/UpdateImage?filename=" + inputs[count].name);
                    }
                    return;
                }

            }
        });
    });
</script>

<script>
    $("#body-content-button-create").position({ my: "right top", at: "right-4 top+2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-next").position({ my: "center bottom", at: "center bottom-2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-top").position({ my: "right bottom", at: "right-4 bottom-2", of: "#body-content-area", collision: "none" });
    $(".body-content-table-checkbox").each(function () {
        $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
    });
    $(".body-content-table-folder-text").each(function () {
        $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
    });
</script>
