@{
    ViewBag.Title = "Album";
}

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />

<div id="body-area">
    <div id="body-content-area">
        @using(Html.BeginForm("Album", "Home", FormMethod.Post))
        {
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>

            <input type="submit" name="Go" value="Go" />
            <input type="submit" name="CreateFolder" value="Create Folder" id="body-content-button-create" disabled />
            <input type="submit" name="Submit" value="Go" />
            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" disabled />
            
            PAWA.Classes.AlbumGrid ag = new PAWA.Classes.AlbumGrid(new PAWA.DAL.PAWAContext());
            @Html.Raw(ag.CreateTable((int?)ViewBag.FolderID));
            
            <input type="submit" name="NextPae" value="Next Page" id="body-content-button-next" disabled /> 
            <input type="submit" name="GoToTop" value="Go To Top" id="body-content-button-top" disabled />
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name='Go']").click(function () {
            if ($('#Action').val() == "Delete") {
                return confirm('Delete the selected photos?');
            }
        });
    });
</script>

<script>
    $("#body-content-button-create").position({ my: "right top", at: "right-4 top+2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-next").position({ my: "center bottom", at: "center bottom-2", of: "#body-content-area", collision: "none" });
    $("#body-content-button-top").position({ my: "right bottom", at: "right-4 bottom-2", of: "#body-content-area", collision: "none" });
    $(".body-content-table-checkbox").each(function () {
        $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
    });
    $(".body-content-table-folder-text").each(function () {
        $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
    });
</script>
