@model PAWA.ViewModels.AlbumViewModel
@{
    ViewBag.Title = "Album";
}

<link rel="stylesheet" href="~/App_Themes/Album.css" type="text/css" />

<div id="page-top"></div>
 <div id="outer-panel">
            <div id="main-panel">
                <div id="panel-header" style="font-family: Constantia"><b>My Photos</b></div>
                <div id="inner-panel">
        @using(Html.BeginForm("Album", "Home", FormMethod.Post))
        {
            <br />
            <select name="DropDownList" id="DropDownList">
                <option value="Edit">Edit Selected</option>
                <option value="Move">Move Selected</option>
                <option value="Delete">Delete Selected</option>
            </select>
            
            
            <input type="submit" name="Submit" value="Go" />
            <input type="button" name="Create" value="Create Folder" id="body-content-button-create" />
            
            @*PAWA.Classes.AlbumGrid ag = new PAWA.Classes.AlbumGrid(new PAWA.DAL.PAWAContext());*@
            foreach (var table in Model.ag.CreateTable(Model.FolderID))
            {
                @Html.Raw(table);
            }
            @*Html.Raw(Model.ag.CreateTable1(Model.FolderID));*@
            <br />
            <input type="button" name="NextPage" value="Next Page" id="body-content-button-next" />
            <a href="#page-top"><input type="button" value="Go To Top" id="body-content-button-top" /></a>
        }
                    </div>
                
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Delete") {

                //check if anything was selected
                if (!hasChecked()) {
                    //Nothing was so show a message.
                    alert("You have not selected any images to delete.");
                    return;
                }

                return confirm('These images will be permanently deleted. Do you wish to continue?');
            }
        });
    });
</script>

<script type="text/javascript">
    function hasChecked() {
        //Get input elements
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  

        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    //Then something was
                    return true;
                }
            }
        }
        //Nothing was selected
        return false;
    };
</script>

<script type="text/javascript">
    function countChecked() {
        //Get input elements
        var count = 0;
        var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;  
        var ids = "";
        //For all elements
        for (var i = 0; i < inputs.length; i++) {
            //If it is a checkbox
            if (inputs[i].type == "checkbox") {
                //That is selected
                if (inputs[i].checked) {
                    count--;
                    ids += i;
                }
            }
        }
        if (count == -1)
        { return ids; }
        else
        { return count; }
    };


    $(document).ready(function () {
        $("input[name='Submit']").click(function () {
            if ($('#DropDownList').val() == "Edit") {
                var count = countChecked();
                //check if anything was selected
                if (count == 0 || count <= -2) {
                    //Nothing was so show a message.
                    alert("You cannot perform Edit Selected on " + (-count) + " items.");
                    return;
                }
                else {
                    var inputs = document.getElementsByTagName("input"); //or document.forms[0].elements;
                    window.open("/Image/UpdateImage?filename=" + inputs[count].name);
                    return;
                }

            }
        });
    });
</script>

<script>
    var count = 1;
    $(document).ready(Position());

    function Position()
    {
        // Check this first, because hiding the next page button will mess with the positioning of go to top button,
        // so reposition after hide.
        CheckMorePages();

        $("#page-top").position({ my: "center top", at: "center top", of: "body", collision: "none" });
        $("#body-content-button-create").position({ my: "right bottom", at: "right-2 top-2", of: ".body-content-table", collision: "none" });
        $("#body-content-button-next").position({ my: "center top", at: "center bottom+2", of: ".body-content-table", collision: "none" });
        $("#body-content-button-top").position({ my: "right top", at: "right-2 bottom+2", of: ".body-content-table", collision: "none" });
        $(".body-content-table-checkbox").each(function () {
            $(this).position({ my: "right bottom", at: "right-5 bottom-5", of: $(this).parent().children("img"), collision: "none" });
        });
        $(".body-content-table-folder-text").each(function () {
            $(this).position({ my: "center", at: "center center+10", of: $(this).parent().children("img"), collision: "none" });
        });
    }

    function CheckMorePages()
    {
        var element = "#table-" + count;

        if ($(element).length == 0)
        {
            $("#body-content-button-next").attr('disabled', 'disabled');
        }
    }

    $("#body-content-button-next").click(function() {
        var element = "#table-" + count;
        $(element).removeAttr('disabled');
        count++;
        Position();
    });
        
</script>
