@{
    ViewBag.Title = "CreateFolder";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<<<<<<< HEAD
<h2 class="CreateFolder">CreateFolder</h2>
=======
<h2 class="CreateFolder">CreateFolder</h2>
@{
>>>>>>> d6ed98c755743ed080e8f488b44178002966fef9
