<div id="Inherit Box">
<label>Chose Folder to move to</label>
    <form id="folderSelectionForm">
        <select name="folderList" id="folderList">
            @{
                PAWA.Classes.GetFolderFormSelectOptions pwa = new PAWA.Classes.GetFolderFormSelectOptions(ViewBag.userID);
                @Html.Raw(pwa.returnHTML);
            }
        </select> 
        <button id="moveFolderSubmit" type="button" value="Go" onclick="moveSubmitButton()">Go</button>
    </form>
</div>
