@model PAWA.Classes.AdminReports

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/App_Themes/AdminReports.css" type="text/css" />

<div id="body-area">
    <div id="body-content-area">
        <div id="body-content-area-header">
            Reports
        </div>
        <div id="body-content-area-links">
            <div class="body-content-area-links-header">
                Tag Usage Reports
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/MostUsedTagReport">Most Used Tags</a><br />
                <a href="~/Admin/MostPopularTagReport">Most Popular Tags</a><br />
            </div>
            
            <br />
            <div class="body-content-area-links-header">
                File Type Usage Reports
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/ImageUsageReport">Image Usage</a><br />
                <a href="~/Admin/VideoUsageReport">Video Usage</a><br />
            </div>
            
            <br />
            <div class="body-content-area-links-header">
                Daily Usage Report
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/DailyUsageReport">Daily Usage</a><br />
            </div>
            
            <br />
            <div class="body-content-area-links-header">
                Application Usage Report
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/ApplicationUsageReport">Application Usage</a><br />
            </div>
        </div>
    </div>
</div>