@model PAWA.Classes.AdminReports

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminSiteLayout.cshtml";
}

<link rel="stylesheet" href="~/App_Themes/Index.css" type="text/css" />

 <div id="outer-panel">
        <div id="main-panel">
            <div id="panel-header" style="font-family: Constantia"><b>Admin Panel</b></div>
            <div id="inner-panel">
   
                <fieldset>
                    <legend>Management</legend>

                    <div class="body-content-area-links-area">
                        <a href="~/Admin/TagManagement">Tags Management</a><br />
                        <a href="~/Admin/UserManagement">User Management</a><br />
                        <br />
                    </div>
                </fieldset>
                <br />
                <fieldset>
                    <legend>Reports</legend>

                    <a href="~/Admin/MostUsedTagReport">Most Used Tags</a><br />
                    <a href="~/Admin/MostPopularTagReport">Most Popular Tags</a><br />
                    <a href="~/Admin/ImageUsageReport">Image Usage</a><br />
                    <a href="~/Admin/VideoUsageReport">Video Usage</a><br />
                    <a href="~/Admin/DailyUsageReport">Daily Usage</a><br />
                    <a href="~/Admin/ApplicationUsageReport">Application Usage</a>
                </fieldset>
            </div>
     </div>
</div>

