@model PAWA.Classes.AdminReports

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/App_Themes/Index.css" type="text/css" />

 <div id="outer-panel">
        <div id="main-panel">
            <div id="panel-header" style="font-family: Constantia"><b>Reports:</b></div>
            <div id="inner-panel">
   
            <div class="body-content-area-links-header">
                Tag Usage:
            </div>

                <a href="~/Admin/MostUsedTagReport">Most Used Tags</a><br />
                <a href="~/Admin/MostPopularTagReport">Most Popular Tags</a><br />
            
            
            <br />
            <div class="body-content-area-links-header">
                File Type Usage:
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/ImageUsageReport">Image Usage</a><br />
                <a href="~/Admin/VideoUsageReport">Video Usage</a><br />
            </div>
            
            <br />
            <div class="body-content-area-links-header">
                Daily Usage:
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/DailyUsageReport">Daily Usage</a><br />
            </div>
            
            <br />
            <div class="body-content-area-links-header">
                Application Usage:
            </div>
            
                <a href="~/Admin/ApplicationUsageReport">Application Usage</a><br /><br />
            </div>

            <div id="panel-header-manage" style="font-family: Constantia"><b>Management:</b></div>
            <div id="inner-panel-manage">
   
            <div class="body-content-area-links-header">
                Tag Usage:
            </div>
            <div class="body-content-area-links-area">
                <a href="~/Admin/TagManagement">Tags Management</a><br />
                <a href="~/Admin/UserManagement">User Management</a><br />
            <br />
            </div>
            </div>
     </div>
</div>

