#body-content-area {
    width: 940px;
    margin: auto;
}

.body-content-table {
    border: 1px solid black;
    width: 940px;
    padding-bottom: 3px;
    display: none;
    margin-bottom: 30px;
}

#table-0 {
    display: inline-table;
}

#table-header-page-count {
    font-size: 20px;
    font-family: Arial;
    border-bottom: 1px solid black;
}

.body-content-table tr td {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    width: 188px;
}

.body-content-table-image {
    width: 181px;
    padding-left: 3px;
    padding-top: 3px;
    height: 100px;
}

.body-content-table-fakeimage {
    display: inline-block;
    width: 181px;
    padding-left: 3px;
    padding-top: 3px;
    height: 100px;
}

.body-content-table-folder-text {
    display: inline-block;
    background-color: white;
    width: 125px;
    max-height: 40px;
    font-style: oblique;
    font-family: Arial;
    text-align: center;
    z-index: 10;
    color: black;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
}