#body-content-description-area, #body-content-tags-area {
    width: 420px;
    font-size: 16px;
    margin: auto;
}

#body-content-description, #body-content-tags {
    border: 2px solid rgb(190, 190, 190);
    background-color: rgb(237, 237, 237);
    padding: 5px;
    font-size: 14px;
}

#body-content-image {
    max-width: 940px;
}

#body-content-image-area {
    width: 940px;
    margin: auto;
}

#body-content-button-area {
    width: 420px;
    margin: auto;
}

#body-area {
    padding-bottom: 20px;
}

#facebookButton {
    background-image:url('../Images/facebook.png');
    background-color:transparent;
    width:50px;
    height:50px;
    background-size:50px,50px;
    float:left;
 
   

}
 #facebookButton:hover {
     border:2.5px solid;
     border-color:lightblue;
     border-radius:10px;
    }
#twitterButton {
    background-image: url('../Images/Twitter.png');
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-size: 50px,50px;
     float:left;
     margin-left:20px;
}
#ShareFacebook{
    background: transparent;
    border:none !important;
    width:50px;
    height:50px;
    font-size:0;
}
#shareBacker {
    margin:auto;
    width: 300px;
    height: 133px;
  width:130px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;

}
#panel-header {
    background-color: lightblue;
    padding-left: 15px;
     width:145px;
    height: 30px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 175%;
}
#inner-panel {
    background-color: whitesmoke;
     width:130px;
    height:60px;
    padding-right:15px;
    padding-top: 5px;
    padding-left: 15px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
