#header-content-area {
    margin: auto;
    width: 940px;
    height: 124px;
    margin-bottom: 50px;
}

#header-logo-image {
    position: relative;
    width: 940px;
    height: 124px;
}

#header-navbar-home {
    background-image: url(/Images/BlueGreenGradient1.jpg);
}

#header-navbar-user {
    background-image: url(/Images/BlueGreenGradient3.jpg);
}

#header-navbar-upload {
    background-image: url(/Images/BlueGreenGradient2.jpg);
}

#header-navbar-options {
    background-image: url(/Images/BlueGreenGradient4.jpg);
}

.header-navbar-links {
    padding: 0px 0px 10px 5px;
    font-size: 18px;
    color: white;
}

.navbar {
    display: inline-block;
    width: 150px;
    text-align: center;
}