#footer {
    left: 0px;
    width: 100%;
}

#logout {
    width: 940px;
    text-align: right;
    margin: auto;
}



body {
    
    background-image: url("../Images/cutdown-nostripe.png");
    background-size: 2px 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
        
}

#header {
    //position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    left: 0px;
    z-index: 10;
}

a {
    color: #0077cc;
}

a:visited {
    color: #0077cc;
}

#main-panel {
    margin:auto;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;

}
#panel-header {
    background-color: lightblue;
    padding-left: 15px;
    height: 30px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 175%;
}
#inner-panel {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 15px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

