#footer {
    left: 0px;
    width: 100%;
}

#logout {
    width: 940px;
    text-align: right;
    margin: auto;
}

#logout-link {
    color: blue;
}

#logout-link:visited {
    color: blue;
}

body {
    background-image: url("../Images/bg_lite.png");
    background-size: 2px 100%;
    background-repeat: repeat-x;
    background-attachment: fixed;
}

#header {
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;
    left: 0px;
    z-index: 10;
}
