#maindiv {
    width:900px;
    padding-left: 25%;
    margin: auto;
    text-align:justify;
}
#buttons {
    padding-top: 10px;
    padding-left: 13%;
}
#main-panel {
    margin:auto;
    width: 450px;
    height: 133px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}
#panel-header {
    background-color: lightblue;
    padding-left: 15px;
    height: 30px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 175%;
}
#inner-panel {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 15px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.tagcloud-overlay-item {
    display: inline-block;
    width: 150px;
    padding: 10px;
}

#tagcloud-overlay-area {
    display: none;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #888888;
    width: 875px;
    margin: auto;
    background-color: whitesmoke;
}

#tagcloud-overlay-area-header {
    border-bottom: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: lightblue;
}

h3 {
    text-align: center;
}

#tagcloud-overlay-item-area {
    padding: 10px;
}