#main-panel {
    margin:auto;
    width: 1100px;
    height: 133px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}
#panel-header {
    background-color: lightblue;
    padding-left: 15px;
    height: 30px;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 175%;
}
#inner-panel {
    background-color: whitesmoke;
    padding-right:15px;
    padding-top: 5px;
    padding-left: 15px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 12px;
    
}