#backer {
    background-color:whitesmoke;
    border: 1px solid;
    border-radius:15px;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    box-shadow: 5px 5px 5px #888888;
  width:550px;
    margin:auto;
}
a.button {
    margin-left:200px;
     float:left;
     background-color:lightgrey;
     display: block;
     width: 45px;
     height: 20px;
    padding-left: 10px;
     border: 1px solid;
     border-radius:15px;
     
}
    a.button:hover {
        background-color:lightblue;
    }
a.buttonEdit {
    float:left;
    margin-left:5px;
     background-color:lightgrey;
     display: block;
     width: 45px;
     height: 20px;
    padding-left: 10px;
     border: 1px solid;
     border-radius:15px;
     
}
   a.buttonEdit:hover {
        background-color:lightblue;
    }